<div id="user-header">
  <div class="logo">
      <img src="/assets/panda_100.png">
      <div class="text">
        <p>Video</p>
        <p>Bamboozle</p>
      </div>
      <a href="/" class="button click">Back</a>
    </div>
</div>
