<div id="user-nav">
  <% if user_signed_in? %>
    <%= link_to 'Configure my API access', edit_user_registration_path, class: 'button click' %>
  <% else %>
    <%= link_to "Get API access", new_user_registration_path, class: 'button click'  %>
  <% end %>
</div>
<div class="container">
</div>

<script type="text/javascript">
  $(function() {
    window.router = new Videopicker.Routers.SearchRouter();
    Backbone.history.start();
  });
</script>
