@import "variables"
@import "mixins"

html
  background: $background

.container
  vertical-align: center

*
  font-family: Helvetica-Neue, Helvetica, Arial
  font-size: 14px
  font-weight: 300
  color: #222

fieldset
  border-top: 1px solid lighten($dim-text, 20)
  border-right: none
  border-bottom: none
  border-left: none
  padding: 0px
  margin: 0px
  max-height: 100%
  overflow: hidden
  legend
    color: lighten($dim-text, 5)
    padding: 0 10px
    font-size: 18px
    line-height: 40px
    +text-shadow($white-a7 1px 1px 0)

.inactive
  color: lighten($dim-text, 5)
  +text-shadow($white-a3 1px 1px 0)
